.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    color: var(--white);
    width: 100%;
    position: fixed;
    backdrop-filter: blur(16px) saturate(120%);
    transition: top 0.3s;
    z-index: 1;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        a {
            color: var(--brown);
            font-size: 24px;
            display: inline-block; 
            margin: 0;
            font-weight: bold;
        }

        img {
            width: 34px;
            height: 34px;
        }
    }

    a {
        text-decoration: none;
        /* font-weight: bold; */
        color: rgb(82, 82, 82);
        font-size: 14px;

    }

    a:after {
        display: block;
        content: '';
        border-bottom: solid 3px var(--malt);  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }

    a:hover:after {
        transform: scaleX(1);
    }


    .links {
        display: flex;
        gap: 30px;
    }
}

.backToTop {
    position: fixed;
    border: none;
    right: 10px;
    bottom: 10px;
    background-color: var(--brown);
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.app__hero {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    
    img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        animation-name: zoom-in-zoom-out;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

    .app__heroText {
        position: absolute;
        top: 15%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;

        .app__heroBtn {
            display: flex;
            gap: 20px;
        }

        h1 {
            font-size: 5rem;
            line-height: 6rem;
            color: var(--brown);
        }
        
        p {
            width: 30dvw;
            color: var(--brownText);
        }

        button {
            font-weight: bold;
            cursor: pointer;
            padding: 16px 30px;
            border: none;
            border-radius: 10px;
            transition: .2s;

            &:hover {
                opacity: 0.8;
            }
        }

        .btn1 {
            background-color: var(--brown);
            color: var(--white);
        }
        
        .btn2 {
            background-color: var(--brownLight);
            color: var(--brownText);
        }
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        scale: 100%;
    }
    25% {
        scale: 110%;
    }
    50% {
        scale: 120%;
    }
    75% {
        scale: 130%;
    }
    100% {
        scale: 140%;
    }
}

.box__waves {
    background-color: var(--malt);
}

.app__about {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--brown);

    p {
        color: var(--white);
    }

    a {
        text-decoration: none;
        color: var(--white);
        font-size: 14px;
    }

    div {
        flex: 1
    }

    .app__parallaxContainer {
        display: flex;
        gap: 20px;

        .parallax {
            position: relative;
            min-height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;
            transition: .4s;
            border-radius: 10px;
        }

        & :hover {
            flex: 5;

        }

        .parallax--1 {
            background-image: url("../public/images/p5.png");
        }
        .parallax--2 {
            background-image: url("../public/images/p4.png");
        }
        .parallax--3 {
            background-image: url("../public/images/p3.png");
        }
        .parallax--4 {
            background-image: url("../public/images/p1.png");
        }
        .parallax--5 {
            background-image: url("../public/images/p6.png");
        }
    }
}

.app__img {
    background-color: var(--malt);
    padding: 30px;

    .app__imgItem {
        display: flex;
        overflow-x: scroll;
        gap: 20px;
        padding: 30px 0;

        img {
            object-fit: cover;
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }
    }
}

.app__details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .app__detailsItem {
        display: flex;
        gap: 30px;
        margin-top: 30px;
        background-color: var(--brownLight);
        border-radius: 10px;
        color: var(--brownText);
        padding: 60px;
        
        div {
            flex: 1;
        }
        
        hr {
            border-color: var(--brownLight);
        }
    }

    .app__detailsContainer {
        padding: 30px;
        flex: 3;
    }

    .app__detailsContainerImg {
        flex: 1;
        height: 60dvh;
    }

    .app__detailsImg {
        height: 60dvh;
        object-fit: cover;
        width: 100%;
    }
    
    details {
        cursor: pointer;
        padding: 10px 0;
    
        summary {
            font-weight: bold;
        }
        
        p {
            padding: 0 15px;
        }
    }
}

.app__marquee {
    background-image: url("../public/images/p5.png");
    background-size: 100%;
    width: 100%;
    padding: 30px;
    color: var(--white);
    position: relative;
    z-index: -2;
    
    .blur {
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px) saturate(120%);
    }
    
    .app__marqueeItem {
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        height: 120px;
        font-size: 24px;
        color: var(--white);
        gap: 150px;
    }
}

.app__boxIcon {
    padding: 30px 30px 0 30px;
    background-color: var(--malt);

    .app__boxIconContainer {
        display: flex;
        gap: 5rem;
        color: #5e5044;
        padding: 30px 30px 0 30px;
        border-top: 3px solid var(--brown);
    }

    .app__boxIconItem {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }
}

.app__card {
    padding: 0 30px;
    cursor: pointer;

    .app__cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        
        .app__cardItem {
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            img {
                width: 400px;
                height: 400px;
                object-fit: cover;
            }
    
            button {
                padding: 5px 14px;
                border: none;
                cursor: pointer;
                color: var(--white);
                background-color: var(--brown);
                border-radius: 16px;
                transition: .2s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

footer {
    background-color: var(--brownLight);
    padding: 30px;
    color: var(--brownText);
    z-index: 10;

    a {
        color: var(--brown);
        font-size: 24px;
        display: inline-block; 
        margin: 0;
        font-weight: bold;
        text-decoration: none;
    }

    .footer__items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer__contact {
            display: flex;
            gap: 10px;
        }
    }
}

/* menu */

.menu__container {
    padding-top: 100px;
}


